<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csecourseallbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ds"></activity>
        <activity android:name=".electrical" />
        <activity android:name=".discrete" />
        <activity android:name=".physicstwo" />
        <activity android:name=".pps" />
        <activity android:name=".physicsone" />
        <activity android:name=".cfundamentals" />
        <activity android:name=".about" />
        <activity android:name=".levelfour" />
        <activity android:name=".levelthree" />
        <activity android:name=".leveltwo" />
        <activity android:name=".levelone" />
        <activity android:name=".home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>